/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}

button,
[type="button"],
[role="button"],
.button {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font: inherit;
    border: 0;
    background-color: transparent;
    transition: scale 350ms ease;
    &:hover,
    &:focus {
        // scale: 1.01;
        outline: 1px solid black;
    }
    &:active {
        translate: 0 2px;
    }
}

:root {
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.25rem;
    --size-10: 2.5rem;
    --size-11: 2.75rem;
    --size-12: 3rem;
    --size-13: 3.25rem;
    --size-14: 3.5rem;
    --size-15: 3.75rem;
    --size-16: 4rem;
    --size-17: 4.25rem;
    --size-18: 4.5rem;
    --size-19: 4.75rem;
    --size-20: 5rem;
    --size-21: 5.25rem;
    --size-22: 5.5rem;
    --size-23: 5.75rem;
    --size-24: 6rem;
    --size-25: 6.25rem;
    --size-26: 6.5rem;
    --size-27: 6.75rem;
    --size-28: 7rem;
    --size-29: 7.25rem;
    --size-30: 7.5rem;

    --text: #11181d;
    --background: #ffffff;
    --primary: #2a3c46;
    --secondary: #d2dee4;
    --accent: #587d93;
}

.container {
    width: min(1280px, calc(100% - 3rem));
    margin-inline: auto;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Monda", sans-serif;
    min-height: 100dvh;
}
.header {
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 3rem);
    line-height: 0.9;
    min-height: 100px;
    padding-block: 2rem;
}

.start {
    text-align: center;

    height: calc(100vh - 100px - 4rem);
    // margin-block: auto;
    display: grid;
    place-content: center;
    gap: 4rem;

    &__heading {
        font-size: clamp(2.5rem, 10vw, 3.5rem);
        line-height: 0;
    }
    &__selector {
        display: grid;
        margin-inline: auto;

        max-width: 20rem;

        &_video {
            aspect-ratio: 1 / 1;
            border-radius: var(--size-3) var(--size-3) 0 0;
        }

        &_buttons {
            display: flex;
            gap: 1px;
            font-size: var(--size-5);
            // font-weight: 700;
            > * {
                flex: 1 1 0;
                padding: 1rem;
                transition:
                    flex-grow 350ms ease,
                    font-size 350ms ease;
                // border:1px solid #e5e7eb;
            }
            &[data-selected="0"] {
                .start__human {
                    font-size: var(--size-6);
                    flex-grow: 2;
                }
            }
            &[data-selected="1"] {
                .start__bot {
                    font-size: var(--size-6);
                    flex-grow: 2;
                }
            }
        }
    }
    &__start {
        padding: var(--size-6);
        border-radius: var(--size-3);
        font-size: var(--size-6);
        font-weight: 700;
    }
}

.game {
    &__grid {
        display: grid;
        justify-content: center;
        margin-inline: auto;
        width: min(350px, 100% - 2rem);
        aspect-ratio: 1;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(3, 33%);
        gap: var(--size-4);
    }
    &__button {
        position: relative;
        z-index: 2;
        border-radius: var(--size-2);
        box-shadow: var(--size-2) var(--size-2) var(--size-4) var(--accent);
        border: 0 !important;
        &::before,
        &::after {
            z-index: 3;
            content: "";
            position: absolute;

            top: 50%;
            left: 50%;

            translate: -50% -50%;

            background-color: var(--primary);
            border: 1px solid var(--background);
            opacity: 0;
            scale: 0;
        }
    }
    &__grid[data-current-player="x"] & {
        &__button[data-value=""] {
            &::before,
            &::after {
                width: 70%;
                height: 15px;
            }

            &::before {
                rotate: 45deg;
            }
            &::after {
                rotate: -45deg;
            }
            &:hover::before,
            &:hover::after {
                opacity: 1;
                scale: 1;
            }
        }
    }
    &__grid[data-current-player="o"] & {
        &__button[data-value=""] {
            &::before {
                width: 70%;
                aspect-ratio: 1;
                border-radius: 50%;
            }
            &::after {
                width: 35%;
                aspect-ratio: 1;
                border-radius: 50%;
            }
            &:hover::before,
            &:hover::after {
                opacity: 1;
                scale: 1;
            }
        }
    }

    &__button[data-value="o"] {
        &::before,
        &::after {
            opacity: 1;
            scale: 1;
        }

        &::before {
            width: 70%;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 0;
            background-color: var(--background);
        }
        &::after {
            width: 35%;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 0;
            background-color: var(--primary);
        }
    }

    &__button[data-value="x"] {
        &::before,
        &::after {
            width: 70%;
            height: 15px;
            background-color: var(--background);
            opacity: 1;
            scale: 1;
            border: 0;
        }

        &::before {
            rotate: 45deg;
        }
        &::after {
            rotate: -45deg;
        }
    }
}
.score {
    display: grid;
    // place-content: center;
    max-width: 600px;
    margin-inline: auto;
    text-align: center;

    &__heading {
        font-size: clamp(2.5rem, 10vw, 3.5rem);
        margin-bottom: var(--size-3);
    }

    &__table {
        display: flex;
        justify-content: space-evenly;
    }
    &__player {
        display: grid;
        grid-auto-flow: row;
    }
    &__header {
        font-size: var(--size-6);
        font-weight: 700;
        padding-block: var(--size-3);
    }
    &__score {
        font-size: var(--size-8);
        font-weight: 700;
        padding-bottom: var(--size-4);
    }
}

.round {
    &__over {
        padding: var(--size-6);
        width: max(50%, 330px);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--background);
        border-radius: var(--size-4);
        border: 1px solid var(--text);
        z-index: 10;
    }
    &__heading {
        font-size: var(--size-6);
        font-weight: 700;
        border-bottom: 1px solid var(--text);
        padding: var(--size-2);
        margin-bottom: var(--size-4);
    }
    &__text {
        font-size: var(--size-5);
    }
    &__buttons {
        margin-block: var(--size-4);
        display: flex;
        justify-content: flex-end;
        gap: var(--size-6);

        > * {
            padding: var(--size-4);
            width: var(--size-30);
            border-radius: var(--size-2);
        }
    }
}

.game {
    &__over {
        padding: var(--size-6);
        width: max(50%, 330px);
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-color: var(--background);
        border-radius: var(--size-4);
        border: 1px solid var(--text);
        z-index: 10;
    }
    &__heading {
        font-size: var(--size-8);
        font-weight: 700;
        border-bottom: 1px solid var(--text);
        padding-block: var(--size-2);
        margin-bottom: var(--size-4);
    }
}

.button {
    &--primary {
        background-color: var(--primary);
        color: var(--background);
    }
    &--secondary {
        background-color: var(--secondary);
    }
    &--accent {
        background-color: var(--accent);
    }
}

.hidden {
    display: none;
}
