@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap");
/* RESET */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  margin-inline: 5%;
}
@media (width > 375px) {
  .container {
    margin-inline: 8%;
  }
}
@media (width > 768px) {
  .container {
    margin-inline: 8%;
  }
}
@media (width > 1024px) {
  .container {
    margin-inline: 15%;
  }
}
@media (width > 2560px) {
  .container {
    margin-inline: 20%;
  }
}

.btn {
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  gap: 2.5rem;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: "Roboto Mono", monospace;
  color: #11141c;
  background: #f9f9fb;
}

.header__wrapper {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width > 768px) {
  .header__wrapper {
    padding-block: 2rem;
  }
}
.header__image {
  border-radius: 50%;
  max-width: 6rem;
}
.header__title {
  font-family: "Agdasima", sans-serif;
  text-transform: capitalize;
  font-size: 1.75rem;
  width: 10ch;
  text-align: center;
}
@media (width > 375px) {
  .header__title {
    width: auto;
    text-align: center;
    letter-spacing: 2px;
  }
}
@media (width > 768px) {
  .header__title {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}

main {
  display: grid;
  gap: 2.5rem;
}

.hero {
  margin-block: 5rem;
}
.hero__wrapper {
  display: grid;
  gap: 2.5rem;
}
@media (width > 375px) {
  .hero__wrapper {
    text-align: center;
  }
}
@media (width > 1024px) {
  .hero__wrapper {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: start;
  }
}
.hero__content {
  display: grid;
  gap: 3rem;
}
.hero__heading {
  font-size: 1.75rem;
}
@media (width > 425px) {
  .hero__heading {
    font-size: 1.75rem;
  }
}
@media (width > 1440px) {
  .hero__heading {
    font-size: 2rem;
  }
}
.hero__link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: inherit;
  text-decoration: none;
  width: max-content;
  position: relative;
}
.hero__link ion-icon {
  rotate: 90deg;
}
.hero__link::before {
  content: "";
  position: absolute;
  inset: auto 0 0 2ch;
  height: 0.2rem;
  background-color: #11141c;
  transform-origin: left center;
  scale: 0 1;
  transition: scale 350ms ease-in-out;
}
.hero__link:hover::before {
  scale: 1 1;
}
.hero__subtitle {
  font-size: 1rem;
}
@media (width > 768px) {
  .hero__subtitle {
    font-size: 1.25rem;
  }
}
@media (width > 1440px) {
  .hero__subtitle {
    font-size: 1.5rem;
  }
}
.hero__btn_group {
  display: grid;
  gap: 0.875rem;
}
@media (width > 768px) {
  .hero__btn_group {
    grid-template-columns: auto auto;
  }
}
@media (width > 1440px) {
  .hero__btn_group {
    max-width: 80%;
  }
}
.hero__button {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  transition: transform 200ms ease, box-shadow 200ms ease;
  border-radius: 0.5rem;
}
.hero__button--primary {
  background: #3c4662;
  color: #f9f9fb;
  z-index: 2;
}
.hero__button--secondary {
  background: #d7d7d7;
  color: #11141c;
  font-weight: 900;
  z-index: 1;
}
.hero__button:active {
  transform: translateY(-3px);
  box-shadow: 0 1rem 0.75rem #3c4662;
}
@media (hover: hover) {
  .hero__button:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 0.75rem #3c4662;
  }
}
@media (hover: hover) {
  .hero__button:active {
    background: #323a52;
  }
}
@media (width > 768px) {
  .hero__button {
    justify-self: start;
  }
}
@media (width > 1440px) {
  .hero__button {
    font-size: 1.25rem;
  }
}
.hero__img img {
  margin-inline: auto;
}

.projects {
  --_card-width: min(320px, 90%);
}
.projects__heading {
  font-size: 1.75rem;
  text-align: center;
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-underline-offset: 0.75rem;
  text-decoration-thickness: 2px;
  text-decoration-color: #323a52;
}
.projects__wrapper {
  display: grid;
  gap: 2.5rem;
}
.projects__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.card {
  width: var(--_card-width);
  flex-basis: var(--_card-width);
  background-color: #d7d7d7;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 5px 1rem rgba(60, 70, 98, 0.4666666667);
}
.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.card__image .place-holder {
  width: 100%;
  height: 100%;
}
.card__image img {
  object-position: center center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__content {
  display: grid;
  gap: 0.875rem;
  padding: 1rem;
}
.card__title {
  font-size: 1.5rem;
  color: #11141c;
}
.card__link {
  color: #323a52;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.placeholder.card .place-holder {
  background-color: hsla(0, 0%, 75%, 0.5);
  animation: placeholder-pulse 1.5s linear infinite;
}
.placeholder.card .card__title.place-holder {
  min-height: 1.5rem;
  width: 100%;
  flex-basis: 100%;
  border-radius: 5px;
}
.placeholder.card .card__description.place-holder {
  padding-left: 2rem;
  height: 2rem;
}
@keyframes placeholder-pulse {
  from, to {
    background-color: hsla(0, 0%, 75%, 0.5);
  }
  50% {
    background-color: hsl(0, 0%, 75%);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.footer a {
  cursor: pointer;
  color: #11141c;
  text-decoration-style: wavy;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 300ms;
}
.footer a:hover {
  text-underline-offset: 0.5rem;
}
.footer a ion-icon {
  font-size: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
